body {
  background-color: #E1EBE6;
  width: 800px;
}


.header {
  display: flex;
  background-image: url('../../images/image2.png');
}
.logo {
  display: flex;
}
.list ul {
  display: flex;
  list-style: none;

}
.list li {
padding: 0px 15px;
}



.list button {
  background-color: yellow;
}
.section1 {
  margin-left: 10%;
  
  margin-top: 2%;
}
.section1 button{
  background-color: yellow;
}
.section2 {
  margin-left: 20%;
  align-items: center;

  
}
.section2 h2 {
  margin-left: 30%;
  color: yellow;
}
.Service {
  border: solid grey;
}

#Order {
  display: flex;
  background-color: white;
  width: 600px;
  margin: 10%;
  justify-content: center;
  align-items: center;
  height: 200px;

}
.one {
  text-align: center;
  
  border: solid #E1EBE6;
}

.BTN {
  background-color: tomato;
  font-size: 30px;
  border-radius: 100%;
}

.section3 {
  display: flex;
  background-color: black;
  color: white;

}

.P {
 margin-left: 2%;
}
.section4 {
}
.section4 h3 {
  margin-left: 50%;
}

.Menu {
  display: flex;
  margin: 1%;
  border: solid grey;
  background-color: white;
}
.Beaf {
  display: flex;
  margin: 1%;
  border: solid grey;
  background-color: white;
}
.C {
margin: 2%;
margin-bottom: 5%;
}

.Beaf {
  display: flex;
  margin: 1%;
}

.S {
  margin: 2%;
}

.General {
  display: flex;
  margin-left: 15%;
}


.Plain{
  display: flex;
  margin: 2%;
  border: solid grey;
  background-color: white;
}
.Stew {
  display: flex;
 margin: 2%;
  border: solid grey;
  background-color: white;
}
.General1 {
  display: flex;
}
.section5 {
  margin: 35%;
}